In [5]:
import pandas_datareader.data as web

In [7]:
import datetime as dt

In [8]:
start = dt.datetime(2015,1,1)
end = dt.datetime(2017,1,1)

In [17]:
facebook = web.DataReader('FB', 'iex', start, end)

In [18]:
facebook.head()

             open     high     low   close    volume
date
2015-01-02  78.58  78.9300  77.700  78.450  18177475
2015-01-05  77.98  79.2455  76.860  77.190  26452191
2015-01-06  77.23  77.5900  75.365  76.150  27399288
2015-01-07  76.76  77.3600  75.820  76.150  22045333
2015-01-08  76.74  78.2300  76.080  78.175  23960953