In [2]:
import pandas_datareader.data as web

In [3]:
import datetime as dt

In [4]:
start = dt.datetime(2015,1,1)
end = dt.datetime(2017,1,1)

In [5]:
facebook = web.DataReader('FB', 'iex', start, end)

In [6]:
facebook.head()

             open     high     low   close    volume
date
2015-01-02  78.58  78.9300  77.700  78.450  18177475
2015-01-05  77.98  79.2455  76.860  77.190  26452191
2015-01-06  77.23  77.5900  75.365  76.150  27399288
2015-01-07  76.76  77.3600  75.820  76.150  22045333
2015-01-08  76.74  78.2300  76.080  78.175  23960953

In [8]:
import fix_yahoo_finance as fyf
fyf.pdr_override()

In [9]:
df = web.get_data_yahoo(['0700.HK'], start, end)

[*********************100%***********************]  1 of 1 downloaded

In [10]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,113.599998,113.599998,111.300003,112.800003,111.712776,10862542
2015-01-05,113.500000,115.300003,112.800003,113.500000,112.406013,21808993
2015-01-06,114.000000,120.500000,113.599998,120.000000,118.843369,43678255
2015-01-07,123.500000,124.500000,122.599998,124.400002,123.200966,40863410
2015-01-08,127.500000,127.800003,125.599998,127.300003,126.073006,35638986