In [1]:
from pandas_datareader import data as pdr

In [2]:
import fix_yahoo_finance as yf

In [3]:
yf.pdr_override()

In [10]:
data = pdr.get_data_yahoo("0700.HK", start="2018-01-01", end="2019-01-01")

[*********************100%***********************]  1 of 1 downloaded

In [12]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-21,298.200012,318.600006,297.000000,315.200012,315.200012,41628409
2018-12-24,315.200012,315.200012,308.600006,310.600006,310.600006,14579845
2018-12-27,312.000000,316.799988,307.000000,309.600006,309.600006,17646140
2018-12-28,311.000000,312.799988,308.399994,310.000000,310.000000,11541991
2018-12-31,310.000000,317.200012,310.000000,314.000000,314.000000,9891851