In [1]:
# Datetime Index
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from datetime import datetime

In [3]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
my_date = datetime(my_year, my_month, my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [7]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [8]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [9]:
type(my_date_time)

datetime.datetime

In [11]:
my_date_time.day

2

In [12]:
my_date_time.month

1

In [28]:
first_two = [datetime(2016,1,1), datetime(2016,1,10)]

In [14]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [29]:
type(first_two)

list

In [30]:
dt_ind = pd.DatetimeIndex(first_two)

In [31]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-10'], dtype='datetime64[ns]', freq=None)

In [32]:
data = np.random.randn(2,2)
data

array([[ 0.19219409, -1.81133321],
       [-0.83055902, -0.20484437]])

In [33]:
cols = ['a', 'b']

In [34]:
df = pd.DataFrame(data, dt_ind, cols)
df

                   a         b
2016-01-01  0.192194 -1.811333
2016-01-10 -0.830559 -0.204844

In [24]:
df.index.argmax()

1

In [25]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [26]:
df.index.argmin()

0

In [27]:
df.index.min()

Timestamp('2016-01-01 00:00:00')

In [ ]:
# Time Resampling